@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply m-0 p-0 overflow-x-hidden bg-[#FFFEF2];
}

input {
  @apply w-full bg-transparent text-[#666666]  border-b border-[#666666] focus:border-none;
}

h1 {
  @apply text-[2.5rem] lg:text-[3.5rem] leading-[120%];
}

h2 {
  @apply text-[2.25rem] lg:text-[3rem] leading-[120%];
}

h3 {
  @apply text-[2rem] lg:text-[2.5rem] leading-[120%];
}

h4 {
  @apply text-[1.25rem] lg:text-[1.5rem] leading-[120%];
}

h5 {
  @apply text-[1.125rem] lg:text-[1.25rem] leading-[120%];
}
h6 {
  @apply text-[1rem] lg:text-[1.125rem] leading-[150%];
}

.header {
  background-color: #fffef2;
  height: 72px;
  width: 100%;
  overflow: hidden;
  position: absolute;
   top: 36px;
}

.transition {
  @apply transition-all ease-in-out duration-500;
}

.button {
  @apply w-full bg-[#252525] py-2 px-4 text-white hover:bg-neutral-800;
}
.button_outline {
  @apply bg-transparent py-2 px-4 text-[#252525] hover:bg-neutral-800 hover:text-white border border-gray-400;
}
.fill_elements {
  color: #000;
}
.logo_color {
  fill: #000;
}
.mobile_menu {
  color: #000;
}
.container {
  @apply px-5 py-5 
}
.product_box {
  @apply w-full h-[30rem] lg:w-full lg:h-[20rem] bg-black;
}
.product_hover {
  @apply hover:scale-[101%] transition-all ease-in-out duration-200 cursor-pointer;
}
