@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: "Poppins";
}
.playfair{
    font-family: "Playfair Display", serif;

}

.input_cart {
  @apply bg-transparent border-[#595959] border-[0.1rem] py-[0.5rem] px-2 rounded-md
}

h1 {
    @apply text-[3rem] md:text-[4rem] lg:text-[5rem] leading-[3rem] md:leading-[4rem] lg:leading-[5rem]
}

h2 {
    @apply text-[2.5rem] md:text-[2.75rem] lg:text-[3.75rem] leading-[2.5rem] md:leading-[2.75rem] lg:leading-[3.75rem]
}


h3 {
    @apply text-[2rem] md:text-[2.5rem] lg:text-[3rem] leading-[2rem] md:leading-[2.5rem] lg:leading-[3rem]
}

h4 {
    @apply text-[1.75rem] md:text-[2rem] lg:text-[2.5rem] leading-[1.57rem] md:leading-[2rem] lg:leading-[2.5rem]
}

h5 {
    @apply text-[1.5rem] md:text-[1.25rem] lg:text-[1.75rem];
}

p {
    @apply text-[1rem] md:text-[1.25rem] lg:text-[1.5rem];
}
.input_search{
    background-color: transparent;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    
}

.navigation_bar{
    width: 100vw;
    height:4rem;
    position: absolute;
    background-color: #ff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
@media screen and (min-width:1024px) {
    width: 100vw;
    height:4rem;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
}
}

.logo_svg {
    fill: #000;
  }
  .svg_icon {
    fill:#000
  }

  .hero_background{
    height:100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('https://maybee-nextjs-ecommerce.s3.amazonaws.com/1706512467567.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }